ul.navbar-nav{
    float: left;
    display: block;
    border: transparent;
}

nav a{
    display: block;
}

.content{
    padding: 1rem;
}

nav a:hover:after {
    width: 100%;
    background: transparent;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: transparent;
}

.navbar-inverse .navbar-toggle {
    border: 0;
}
