/* -- - - - - - - - - - - - - general - - - - - - - - - - - - - - - - - - */

h1 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 3rem;
    color: #EFEFEF;
}

h5 {
    color: #EFEFEF;
    font-family: 'Roboto Condensed', sans-serif;
}

ul {
    list-style: none;
}

hr{
    margin: 0;
    border-top: 1px solid #a9834f;
    margin: 0 -20px;
}

body{
    overflow-x: hidden;
}
 /* - - -- - - - - - -- - - -- - - -- - -- -  */

nav ul {
    text-transform: uppercase;

}

nav.navbar-inverse {
    background-color: #111111 !important;
    font-size: 1.4rem;
    border-bottom: 1px solid #a9834f;
}

.navbar-nav{
    float: none;
    display: flex;
    justify-content: space-around;
}

.navbar-inverse .navbar-nav > li > a{
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

nav a:hover {
    text-decoration: none;
    color: #d3e0f7;
}

/* sliding nav*/
nav a {
    display: inline-block;
}

nav a:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

nav a:hover:after {
    width: 100%;
    background: #a9834f;
}

.brand:hover:after{
    width: 0;
}

.accordion{
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
}

.btn{
    background-color: #002F2F;
    color: #d3e0f7;
    margin: 1rem;
}

.btn:hover{
    color: #d3e0f7;
}

.description{
    display: block;
    width: 80%;
    margin: auto;
}

.content {
    padding: 6rem 11rem;
    text-align: justify;
}

.content-blue{
    background-color: #0d111f;
}

.content-green{
    background-color: #111111;
}

.content p {
    color: #EFEFEF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    line-height: 2.3rem;
}

#team .content{
    padding: 1rem;
}

#contact{
    border-bottom: none;
}

#contact img {
    width: 100px;
    height: 100px;
    margin: auto;
    border-bottom: none;
}

#contact .center-block {
    width: 30%;
    margin: auto;
}

#docs a {
    color: #000;
}

#docs a:hover {
    text-decoration: none;
    color: #d3e0f7;
}

.contact-icons {
    display: flex;
    justify-content: center;
}

.mail{
    text-align: center;
}

footer {
    background-color: #0d111f;
    color: #fff;
}

footer p {
    padding: 2rem;
}

